<?xml version="1.0"?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\\Client.log"/>
      <appendToFile value="true"/>
      <datePattern value=".yyMMdd"/>
      <rollingStyle value="Date"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-25date{dd/MM/yyyy HH:mm:ss.fff} %-5level %type.%-15method %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <param name="LoggerToMatch" value="NHibernate.Loader.Loader"/>
        <param name="AcceptOnMatch" value="false"/>
      </filter>
      <!--filter type="log4net.Filter.LoggerMatchFilter">
        <param name="LoggerToMatch" value="NHibernate.Loader.Entity"/>
        <param name="AcceptOnMatch" value="true"/>
      </filter-->
      <filter type="log4net.Filter.LoggerMatchFilter">
        <param name="LoggerToMatch" value="NHibernate"/>
        <param name="AcceptOnMatch" value="false"/>
      </filter>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <mapping>
        <level value="ERROR"/>
        <eventLogEntryType value="Error"/>
      </mapping>
      <mapping>
        <level value="INFO"/>
        <eventLogEntryType value="Information"/>
      </mapping>
      <applicationName value="EPP Server"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %type.%-15method - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR"/>
        <param name="LevelMax" value="FATAL"/>
      </filter>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="INFO"/>
        <foreColor value="White"/>
      </mapping>
      <mapping>
        <level value="ERROR"/>
        <foreColor value="Red, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="DEBUG"/>
        <foreColor value="Cyan"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss} %type.%method - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelMatchFilter">
        <param name="LevelToMatch" value="DEBUG"/>
        <param name="AcceptOnMatch" value="false"/>
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <param name="LoggerToMatch" value="NHibernate.Loader.Loader"/>
        <param name="AcceptOnMatch" value="true"/>
      </filter>
      <!--filter type="log4net.Filter.LoggerMatchFilter">
        <param name="LoggerToMatch" value="NHibernate.Loader.Entity"/>
        <param name="AcceptOnMatch" value="true"/>
      </filter>-->
      <filter type="log4net.Filter.LoggerMatchFilter">
        <param name="LoggerToMatch" value="NHibernate"/>
        <param name="AcceptOnMatch" value="false"/>
      </filter>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
      <appender-ref ref="EventLogAppender"/>
      <appender-ref ref="ColoredConsoleAppender"/>
    </root>
  </log4net>


  <applicationSettings>
        <Client.Properties.Settings>
            <setting name="ReadPort" serializeAs="String">
                <value>COM12</value>
            </setting>
            <setting name="WritePort" serializeAs="String">
                <value>COM22</value>
            </setting>
            <setting name="PortSpeed" serializeAs="String">
                <value>38400</value>
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="QucikCommands" serializeAs="String">
                <value>Так точно|Никак нет|Принял|Повторите|Выполняю|На позиции|Вижу цель|Открываю огонь|Прекращаю огонь|Возвращаюсь</value>
            </setting>
        </Client.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
