<?xml version="1.0"?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\\Server.log"/>
      <appendToFile value="true"/>
      <datePattern value=".yyMMdd"/>
      <rollingStyle value="Date"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-25date{dd/MM/yyyy HH:mm:ss.fff} %-5level %type.%-15method %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <param name="LoggerToMatch" value="NHibernate.Loader.Loader"/>
        <param name="AcceptOnMatch" value="false"/>
      </filter>
      <!--filter type="log4net.Filter.LoggerMatchFilter">
        <param name="LoggerToMatch" value="NHibernate.Loader.Entity"/>
        <param name="AcceptOnMatch" value="true"/>
      </filter-->
      <filter type="log4net.Filter.LoggerMatchFilter">
        <param name="LoggerToMatch" value="NHibernate"/>
        <param name="AcceptOnMatch" value="false"/>
      </filter>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <mapping>
        <level value="ERROR"/>
        <eventLogEntryType value="Error"/>
      </mapping>
      <mapping>
        <level value="INFO"/>
        <eventLogEntryType value="Information"/>
      </mapping>
      <applicationName value="EPP Server"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %type.%-15method - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR"/>
        <param name="LevelMax" value="FATAL"/>
      </filter>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="INFO"/>
        <foreColor value="White"/>
      </mapping>
      <mapping>
        <level value="ERROR"/>
        <foreColor value="Red, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="DEBUG"/>
        <foreColor value="Cyan"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss} %type.%method - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelMatchFilter">
        <param name="LevelToMatch" value="DEBUG"/>
        <param name="AcceptOnMatch" value="false"/>
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <param name="LoggerToMatch" value="NHibernate.Loader.Loader"/>
        <param name="AcceptOnMatch" value="true"/>
      </filter>
      <!--filter type="log4net.Filter.LoggerMatchFilter">
        <param name="LoggerToMatch" value="NHibernate.Loader.Entity"/>
        <param name="AcceptOnMatch" value="true"/>
      </filter>-->
      <filter type="log4net.Filter.LoggerMatchFilter">
        <param name="LoggerToMatch" value="NHibernate"/>
        <param name="AcceptOnMatch" value="false"/>
      </filter>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
      <appender-ref ref="EventLogAppender"/>
      <appender-ref ref="ColoredConsoleAppender"/>
    </root>
  </log4net>



  <appSettings>

    <add key="EnabledVideoWindow1" value="true"/>
    <add key="EnabledVideoWindow2" value="false"/>
    <add key="EnabledVideoWindow3" value="false"/>
    <add key="EnabledVideoWindow4" value="false"/>

    <add key="EnabledClientIDs" value="1"/>
    
    
  </appSettings>
    <applicationSettings>
        <Server.Properties.Settings>
            <setting name="ReadPort1" serializeAs="String">
                <value>COM21</value>
            </setting>
            <setting name="ReadPort2" serializeAs="String">
                <value>COM22</value>
            </setting>
            <setting name="ReadPort3" serializeAs="String">
                <value>COM23</value>
            </setting>
            <setting name="ReadPort4" serializeAs="String">
                <value>COM24</value>
            </setting>
            <setting name="WritePort" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="PortsSpeed" serializeAs="String">
                <value>38400</value>
            </setting>
            <setting name="ClientID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QucikCommands" serializeAs="String">
                <value>Принял|Повторите|Выйти на позицию|Вернутся|Ждать команды|Открыть огонь|Прекратить огонь</value>
            </setting>
            <setting name="VideoURL1" serializeAs="String">
                <value>192.168.207.59</value>
            </setting>
            <setting name="VideoURL2" serializeAs="String">
                <value>192.168.207.59</value>
            </setting>
            <setting name="VideoURL3" serializeAs="String">
                <value>192.168.207.59</value>
            </setting>
            <setting name="VideoURL4" serializeAs="String">
                <value>192.168.207.59</value>
            </setting>
        </Server.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Server.Properties.Settings>
            <setting name="VideoUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="VideoPass" serializeAs="String">
                <value>pass</value>
            </setting>
            <setting name="VideoType" serializeAs="String">
                <value>mjpeg</value>
            </setting>
        </Server.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
