<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>

    <add key="EnabledVideoWindow1" value="true" />
    <add key="EnabledVideoWindow2" value="false" />
    <add key="EnabledVideoWindow3" value="false" />
    <add key="EnabledVideoWindow4" value="false" />

    <add key="EnabledClientIDs" value="1|2|3|4|5" />
    
    
  </appSettings>
    <applicationSettings>
        <Server.Properties.Settings>
            <setting name="ReadPort1" serializeAs="String">
                <value>COM21</value>
            </setting>
            <setting name="ReadPort2" serializeAs="String">
                <value>COM22</value>
            </setting>
            <setting name="ReadPort3" serializeAs="String">
                <value>COM23</value>
            </setting>
            <setting name="ReadPort4" serializeAs="String">
                <value>COM24</value>
            </setting>
            <setting name="WritePort" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="PortsSpeed" serializeAs="String">
                <value>38400</value>
            </setting>
            <setting name="ClientID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QucikCommands" serializeAs="String">
                <value>Принял|Повторите|Выйти на позицию|Вернутся|Ждать команды|Открыть огонь|Прекратить огонь</value>
            </setting>
            <setting name="VideoURL1" serializeAs="String">
                <value>192.168.207.59</value>
            </setting>
            <setting name="VideoURL2" serializeAs="String">
                <value>192.168.207.59</value>
            </setting>
            <setting name="VideoURL3" serializeAs="String">
                <value>192.168.207.59</value>
            </setting>
            <setting name="VideoURL4" serializeAs="String">
                <value>192.168.207.59</value>
            </setting>
        </Server.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Server.Properties.Settings>
            <setting name="VideoUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="VideoPass" serializeAs="String">
                <value>pass</value>
            </setting>
            <setting name="VideoType" serializeAs="String">
                <value>mjpeg</value>
            </setting>
        </Server.Properties.Settings>
    </userSettings>
</configuration>