<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChatServer.Properties.Settings>
            <setting name="readerPortName1" serializeAs="String">
                <value>COM21</value>
            </setting>
            <setting name="readerPortName2" serializeAs="String">
                <value>COM22</value>
            </setting>
            <setting name="readerPortName3" serializeAs="String">
                <value>COM23</value>
            </setting>
            <setting name="readerPortName4" serializeAs="String">
                <value>COM24</value>
            </setting>
            <setting name="WriteComPort" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="ComPortSpeed" serializeAs="String">
                <value>38400</value>
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value>0</value>
            </setting>
        </ChatServer.Properties.Settings>
    </userSettings>
</configuration>